<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cleancache">

    <!-- Разрешения -->
    <uses-permission android:name="android.permission.CAMERA" />
    
    <!-- Для Android 13+ (SDK 33+) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" 
        android:maxSdkVersion="33" 
        tools:ignore="ScopedStorage" />
    
    <!-- Для Android 10-12 (SDK 29-32) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" 
        android:maxSdkVersion="32" 
        tools:ignore="ScopedStorage" />
    
    <!-- Для Android до 10 (SDK до 29) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
        android:maxSdkVersion="28" 
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Clean Cache"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="33"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity 
            android:name=".SecretGalleryActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
            
    </application>
</manifest>
